name: Build and test Nim

# テストはPRだけ
on: [pull_request]

jobs:
  # WIP でジョブがスキップされてもCIが失敗した扱いにならないようにするため
  skip:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skip job"

  # WIP がコミットメッセージに含まれているとジョブを起動しない
  before:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, 'WIP')"
    steps:
      - run: echo "no WIP"

  # build:
  #   runs-on: ${{ matrix.os }}
  #   needs: before
  #   strategy:
  #     matrix:
  #       os:
  #         - ubuntu-latest
  #         # - macOS-latest
  #         # Need sqlite3_64.dll
  #         # - windows-latest
  #   env:
  #     NIM_VERSION: 1.2.0
  #   steps:
  #   - uses: actions/checkout@v1
  #   - name: Cache choosenim
  #     id: cache-choosenim
  #     uses: actions/cache@v1
  #     with:
  #       path: ~/.choosenim
  #       key: ${{ runner.os }}-choosenim-${{ env.NIM_VERSION }}
  #   - name: Cache nimble
  #     id: cache-nimble
  #     uses: actions/cache@v1
  #     with:
  #       path: ~/.nimble
  #       key: ${{ runner.os }}-nimble-${{ env.NIM_VERSION }}
  #   - uses: jiro4989/setup-nim-action@v1
  #     with:
  #       nim-version: ${{ env.NIM_VERSION }}
  #   - name: Build
  #     run: nimble install -Y

  test-on-docker-nim-v1:
    runs-on: ubuntu-latest
    needs: before
    steps:
    - uses: actions/checkout@v1
    - name: Test
      run: docker compose -f compose.test.yaml run app-ubuntu-v1 nimble test_v1

  test-on-docker-nim-v2:
    runs-on: ubuntu-latest
    needs: before
    steps:
    - uses: actions/checkout@v1
    - name: Test
      run: docker compose -f compose.test.yaml run app-ubuntu nimble test


  # アプリケーションの方を使うことにした
  # https://github.com/marketplace/actions/release-drafter
  # create-tag-draft:
  #   runs-on: ubuntu-latest
  #   if: github.ref == 'refs/heads/master'
  #   needs:
  #     - test-on-docker
  #   steps:
  #     - uses: release-drafter/release-drafter@v5.3.1
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
